<head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Atualizar mercadoria</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css' />
</head>
<body>
    <header class="animate__animated animate__fadeIn">
        <h1>Editar produto</h1>
    </header>
    {{#if message}}
    <div class="alert alert-success alert-dismissible fade show animate__animated animate__fadeIn" role="success">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}
    <main class="animate__animated animate__fadeIn">
        {{#each rows}}
        <form action="/atualizarproduto/{{this.id_produto}}" method="post">
            {{> form_produto}}
        </form>
        {{/each}}
    </main>
</body>