<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Caixa</title>
        <link rel="stylesheet" href="../css/estilos.css">
    </head>
    <body>
        <header>
            <h1>Cadastro de caixa</h1>
            <div>
                <button><a href="index.html">Voltar para Página Inicial</a></button>
            </div>
            &nbsp;
            <div>
                <button><a href="cadastro-cliente.html">Cadastrar cliente</a></button>
                <button><a href="cadastro-produto.html">Cadastrar produto</a></button>
            </div>
        </header>
        &nbsp;
        <main>
            <form action="">
                <label for="cpf">Nome completo</label>
                <div>
                    <input type="text" autofocus required id="cpf" autocomplete="off" name="nome">
                </div>
                <label for="cpf">CPF</label>
                <div>
                    <input type="text" autofocus required id="cpf" autocomplete="off" name="cpf">
                </div>
                <label for="pwd">Senha</label>
                <div>
                    <input type="password" autofocus required id="pwd" minlength="8" name="senha">
                </div>
                <div>
                    <input type="button" id="btn-cadastrar" value="Cadastrar">
                </div>
            </form>
        </main>
    </body>
</html>