<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="../css/estilos.css">
        <style>
            a {
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <header>
            <h1>EE-Mercadinho</h1>
        </header>
        <nav>
            <div>
                <button type="button" class="btn btn-outline-dark">
                    <a class="link-success" href="cadastro-caixa.html">Cadastrar Caixa</a>
                </button>
                <button type="button" class="btn btn-outline-dark">
                    <a class="link-success" href="cadastro-cliente.html">Cadastrar Cliente</a>
                </button>
                <button type="button" class="btn btn-outline-dark">
                    <a class="link-success" href="cadastro-produto.html">Cadastrar Produto</a>
                </button>
            </div>
        </nav>
        <main></main>
        <footer></footer>
    </body>
</html>