<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Produto</title>
        <link rel="stylesheet" href="../css/estilos.css">
    </head>
    <body>
        <header>
            <h1>Cadastro de cliente</h1>
            <div>
                <button><a href="index.html">Voltar para Página Inicial</a></button>
            </div>
            &nbsp;
            <div>
                <button><a href="cadastro-caixa.html">Cadastrar caixa</a></button>
                <button><a href="cadastro-cliente.html">Cadastrar cliente</a></button>
            </div>
        </header>
        &nbsp;
        <main>
            <form>
                <label for="">Nome</label>
                <div>
                    <input type="text" autofocus required>
                </div>
                <label for="">Preço</label>
                <div>
                    <input type="text" required placeholder="Não precisa digitar 'R$' ou 'reais'" size="30">
                </div>
                <label for="">Data de validade</label>
                <div>
                    <input type="date" required>
                </div>
                <label for="">Quantidade</label>
                <div>
                    <input type="number" min="1" required>
                </div>
                <label for="">Categoria</label>
                <div>
                    <select name="" id="">
                        <option selected disabled>Selecione uma categoria válida</option>
                        <option value="1">Alimentos</option>
                        <option value="2">Bebidas</option>
                        <option value="3">Carnes</option>
                        <option value="4">Frios</option>
                        <option value="5">Frutas</option>
                        <option value="6">Verduras</option>
                        <option value="7">Legumes</option>
                        <option value="8">Higiene</option>
                        <option value="9">Limpeza</option>
                        <option value="10">Padaria</option>
                        <option value="11">Outras</option>
                    </select>
                </div>
                <div>
                    <label for="desc">Descrição</label>
                </div>
                <textarea id="story" name="desc" rows="3" cols="45"></textarea>
                <div>
                    <input type="button" id="btn-cadastrar" value="Cadastrar">
                </div>
            </form>
        </main>
    </body>
</html>